<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Create profile</title>
  {{response.files.append(URL('static','css/create_profile.css'))}}
  {{include 'web2py_ajax.html'}}

</head>

<body>
	<div id="header">
		<a href="http://127.0.0.1:8000/WagMore/default/loginpage">
	    	<img id="logo" src="http://127.0.0.1:8000/WagMore/static/_2.14.6/images/wagMoreLogo.png"
	    	width="300" height="215" alt="Woof!">
	    </a>	
	    <div id="title">
			<h1>Create your profile</h1>

		</div>
	</div>

	<center >
		<img alt="Error" src="http://127.0.0.1:8000/WagMore/static/_2.14.6/images/profile2.png", 
		height="150px">
	</center>	
	<center><img alt="Error" src="http://127.0.0.1:8000/WagMore/static/_2.14.6/images/login-dogperson.png" with="200px", height="200px"></center>
	<div id="info">
		<div id= "infoPerson">
			<center><h3>About you</h3></center>
			<div class="line">
				Name:
				<input name="name" />
			</div>
			<div class="line">
				<div class="text">
				Gender:
				</div>

				<div class="form-group">
					<select class="form-control">
						<option>Man</option>
						<option>Woman</option>
					</select>
				</div>
			</div>
			<div class="line">
				<div class="text">
					Date of birth:
				</div>	
				<div class="form-group">
					<select class="form-control">
						<option>January</option>
						<option>February</option>
						<option>March</option>
						<option>April</option>
						<option>May</option>
						<option>June</option>		
						<option>July</option>
						<option>August</option>
						<option>September</option>
						<option>October</option>
						<option>November</option>
						<option>December</option>											
					</select>
				</div>
				<div class="form-group">
					<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>	
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>	
						<option>25</option>
						<option>26</option>
						<option>27</option>
						<option>28</option>
						<option>29</option>
						<option>30</option>
						<option>31</option>												
					</select>
				</div>

				<div class="form-group">
					<select class="form-control">
						<option>2000</option>
						<option>1999</option>
						<option>1998</option>
						<option>1997</option>
						<option>1996</option>
						<option>1995</option>
						<option>1994</option>
						<option>1993</option>
						<option>1992</option>
						<option>1991</option>
						<option>1990</option>
						<option>1989</option>
						<option>1988</option>
						<option>1987</option>
						<option>1986</option>
						<option>1985</option>
						<option>1984</option>	
						<option>1983</option>
						<option>1982</option>
						<option>1981</option>
						<option>1980</option>
						<option>1979</option>
						<option>1978</option>											
					</select>
				</div>
			</div>
			<div class="line">
				City:
				<input name="city" />
			</div>
			<div class="line">
				<div class="text">
					Looking for:
				</div>	
				<div class="form-group">
					<select class="form-control">
						<option>Man</option>
						<option>Woman</option>
						<option>Friendship</option>
					</select>
				</div>
			</div>

		</div>
		<div id= "infoDog">
			<center><h3>About your dog</h3></center>
			<div class="line">
				Name:
				<input name="name" />
			</div>
			<div class="line">
				<div class="text">
				Gender:
				</div>

				<div class="form-group">
					<select class="form-control">
						<option>Male</option>
						<option>Female</option>
					</select>
				</div>
			</div>
			<div class="line">
				<div class="text">
					Date of birth:
				</div>	

				<div class="form-group">
				<div class="form-group">
					<select class="form-control">
						<option>January</option>
						<option>February</option>
						<option>March</option>
						<option>April</option>
						<option>May</option>
						<option>June</option>		
						<option>July</option>
						<option>August</option>
						<option>September</option>
						<option>October</option>
						<option>November</option>
						<option>December</option>											
					</select>
				</div>				
					<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>	
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>	
						<option>25</option>
						<option>26</option>
						<option>27</option>
						<option>28</option>
						<option>29</option>
						<option>30</option>
						<option>31</option>												
					</select>
				</div>

				<div class="form-group">
					<select class="form-control">
						<option>2000</option>
						<option>1999</option>
						<option>1998</option>
						<option>1997</option>
						<option>1996</option>
						<option>1995</option>
						<option>1994</option>
						<option>1993</option>
						<option>1992</option>
						<option>1991</option>
						<option>1990</option>
						<option>1989</option>
						<option>1988</option>
						<option>1987</option>
						<option>1986</option>
						<option>1985</option>
						<option>1984</option>	
						<option>1983</option>
						<option>1982</option>
						<option>1981</option>
						<option>1980</option>
						<option>1979</option>
						<option>1978</option>											
					</select>
				</div>
			</div>
			<div class="line">
				<button type="button">Add another dog</button>
			</div>
			

		</div>

	</div>
	<div id="info">
		<a href="http://127.0.0.1:8000/WagMore/default/createProfile2">
			<img alt="Error" src="http://127.0.0.1:8000/WagMore/static/_2.14.6/images/nextButton.png", height="150px">
		</a>
	</div>

   
 </body>
</html>
